.h1{

    font-size: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: block;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 0;
    margin-block-start: 1px; 
    margin-block-end: 0px ;
    margin-inline-start: 0px;
    margin-inline-end: 0px; 
    font-weight: bold;
    color: white;
    background: rgb(119, 119, 119);
    
  }